:root { 
--green_300:#6bc784; 
--black_900_7f:#0000007f; 
--green_200:#a9d4ba; 
--green_100:#c9dbcf; 
--blue_gray_50:#eaebf0; 
--blue_gray_100_01:#d3e2d6; 
--green_900:#224f34; 
--green_800:#267d49; 
--green_A100:#c2efd4; 
--green_700:#328b55; 
--green_A400:#0fff6f; 
--green_A100_01:#a3f3be; 
--blue_gray_900:#373737; 
--black_900_4c:#0000004c; 
--gray_600:#6e6e6e; 
--green_800_01:#267044; 
--blue_gray_100:#d9d9d9; 
--amber_400:#f5d425; 
--blue_gray_300:#93b8a2; 
--gray_800:#454545; 
--gray_200:#eaeaea; 
--black_900_0c:#0000000c; 
--gray_300:#ddebe2; 
--green_50_7f:#defae97f; 
--gray_100:#f2f2f2; 
--green_900_01:#224e34; 
--white_A700:#ffffff; 
}